/* --------------------------------------------------- */
.big-box{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    height:1000px;
    /* background:url(/https://www.pinterest.com/pin/914862417117560/); */
    background:url(/pic/bl-bg.jpeg);
    z-index:-5;
}
/* --------------------------------------------------- */
.box-1{
    width:570px;
    height:500px;
    position:absolute;
    top:150px;
    left:600px;
    /* z-index:-15; */
    color:white;
    background-color: rgba(7, 7, 7, 0.5);
    overflow:hidden;
    border-radius:15px;
    cursor: pointer;
}
.cont-box-1{
    width:650px;
    height:500px;
    background-color: rgba(78, 73, 73, 0.5);
    top:0;
    position:absolute;
    color:white;
    opacity:0.5;
    transition-duration:0.5s;    
    border-radius:15px;
}
.cont-box-1 h3{
    font-size:30px;
    color:white;
    margin-right:100px;
    padding:45px;
}
.box-1:hover .cont-box-1{
    opacity:1;
}
/* .pic-1{
    width:200px;
    height:350px;
    overflow:hidden;
} */
.pic-1 img{
    height:100%;
}
/* ---------------------------------------------------EDUCATION- */
/* #education{

} */
.box-2{
    width:280px;
    height:160px;
    position:absolute;
    top:230px;
    left:450px;
    z-index:20;
    overflow:hidden;
    color:white;
    background-color: rgba(7, 7, 7, 0.5);
    border-radius:15px;
}
.cont-box-2{
    width:300px;
    height:200px;
    background-color: rgba(78, 73, 73, 0.5);
    top:0;
    position:absolute;
    color:white;
    opacity:0.5;
    transition-duration:0.5s;    
    border-radius:15px;
}
.cont-box-2 h3{
    font-size:30px;
    color:white;
    padding:65px 0;
    margin-left:-50px;
}
.box-2:hover .cont-box-2{
    opacity:1;
}
.pic-2{
    width:150px;
    height:150px;
    overflow:hidden;
}
.pic-2 img{
    width:100%;
    height:100%;
}
/* ---------------------------------------------------EXPERIENCE- */
.box-3{
    width:220px;
    height:350px;
    position:absolute;
    top:300px;
    left: 640px;
    z-index:10;
    overflow:hidden;
    color:white;
    background-color: rgba(7, 7, 7, 0.5);
    border-radius:15px;
}
.cont-box-3{
    width:220px;
    height:350px;
    background-color: rgba(78, 73, 73, 0.5);
    top:0;
    z-index:10;
    position:absolute;
    color:white;
    opacity:0.5;
    transition-duration:0.5s;    
    border-radius:15px;
}
.cont-box-3 h3{
    font-size:30px;
    color:white;
    padding:100px 0;
    line-height:50px;
    letter-spacing: 3px;
    margin-right:20px;
}
.box-3:hover .cont-box-3{
    opacity:1;
}
.pic-3{
    width:150px;
    height:150px;
    overflow:hidden;
}
.pic-3 img{
    width:100%;
    height:100%;
}
/* ---------------------------------------------------SKILLS- */
.box-4{
    width:300px;
    height:270px;
    position:absolute;
    top:270px;
    left: 790px;
    overflow:hidden;
    color:white;
    background-color: rgba(7, 7, 7, 0.5);
    border-radius:15px;
}
.cont-box-4{
    width:300px;
    height:270px;
    background-color: rgba(78, 73, 73, 0.5);
    top:0;
    left:0;
    position:absolute;
    color:white;
    opacity:0.5;
    transition-duration:0.5s;    
    border-radius:15px;
}
.cont-box-4 h3{
    font-size:45px;
    color:white;
    padding:70px 0;
    margin-right:40px;
}
.box-4:hover .cont-box-4{
    opacity:1;
}
.pic-4{
    width:150px;
    height:150px;
    overflow:hidden;
}
.pic-4 img{
    width:100%;
    height:100%;
}
/* ---------------------------------------------------CONTACT- */
.box-5{
    width:180px;
    height:180px;
    position:absolute;
    top:430px;
    left: 840px;
    z-index:5;
    overflow:hidden;
    color:white;
    background-color: rgba(7, 7, 7, 0.5);
    border-radius:15px;
}
.cont-box-5{
    width:180px;
    height:180px;
    background-color: rgba(78, 73, 73, 0.5);
    top:0;
    position:absolute;
    color:white;
    opacity:0.5;
    transition-duration:0.5s;    
    border-radius:15px;
}
.cont-box-5 h3{
    font-size:27px;
    color:white;
    padding:80px 0;
}
.box-5:hover .cont-box-5{
    opacity:1;
}
.pic-5{
    width:150px;
    height:150px;
    overflow:hidden;
}
.pic-5 img{
    width:100%;
    height:100%;
}
/* ---------------------------------------------------PRODUCT- */
.box-6{
    width:400px;
    height:300px;
    position:absolute;
    top:450px;
    left: 500px;
    /* z-index:-10; */
    overflow:hidden;
    color:white;
    background-color: rgba(7, 7, 7, 0.5);
    border-radius:15px;
}
.cont-box-6{
    width:400px;
    height:300px;
    background-color: rgba(78, 73, 73, 0.5);
    top:0;
    left:0;
    position:absolute;
    color:white;
    opacity:0.5;
    transition-duration:0.5s;    
    border-radius:15px;
}
.cont-box-6 h3{
    font-size:50px;
    color:white;
    /* padding:100px 0; */
    margin-top:220px;
    margin-left:50px;
}
.box-6:hover .cont-box-6{
    opacity:1;
}
.pic-6{
    width:150px;
    height:150px;
    overflow:hidden;
}
.pic-6 img{
    width:100%;
    height:100%;
}
/* -----------------------------------------------------SECT- ABOUT MYSELF */
.about-myself{
    white-space: nowrap;
    overflow: hidden;
    background: url(/pic/astraunor.jpeg);
    background-repeat:no-repeat;
    background-size:100%;
    height:90vh;
}
.box img{
    margin:100px 0;
    /* height:10%; */
    width:60%;
    /* margin-left:30px; */
    border-radius:10px;
}
.text-box{
    /* margin:100px 0 ; */
    margin-top:100px;
    /* padding-left:200px; */
    /* width:500px; */
    height:250px;
    /* margin-right:-500px; */
    background-color: rgba(78, 73, 73, 0.5);
}
.text-box h4{
    text-align:center;
    font-size: 40px;
    color:white;
}
.text-box p{
    /* flex-wrap: wrap;
    overflow:hidden;*/
    /* display:inline-block; */
    color:white;
    flex-wrap:wrap;
    width:500px;
    justify-content:justify;
    padding:20px 20px;
    line-height: 25px;;
}
/* -------------------------------------------------------------------WORK EXPERIENCE */
.work-exp{
    height:100vh;
    background:url(/pic/thien\ galaxy.jpeg);
    background-repeat: no-repeat;
    background-size:100%;
    /* background-size:auto; */
    /* object-fit: fill; */
}
.major-box{
    width: 250px;
    height:80px;
    background-color: rgba(63, 58, 58, 0.7);
    margin: 60px 100px;
    padding:17px 0;
    font-family: 'Poiret One', cursive;
}
.major-box1{
    width: 400px;
    height:80px;
    background-color: rgba(63, 58, 58, 0.7);
    margin: 60px 100px;
    padding:17px 0;
    font-family: 'Poiret One', cursive;
}
.content-exp{
    /* background-color: rgba(63, 58, 58, 0.7); */
    width:auto;
    min-height:fit-content;
    color:white;
    margin-top: 100px;
    line-height: 25px;
}

/* ----------------------------------------------------- */
*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .center{
      text-align:center;
  }
  /* button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  } */
  
/* body {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    color: #fff;
} */
  /* ----------------------------------------------------TIMELINE---------------- */
.timeline {
    white-space: nowrap;
    overflow: hidden;
    background: url(/pic/butterfly-galaxy.jpeg);
    /* background:url(/pic/thien\ galaxy.jpeg); */
    background-repeat:no-repeat;
    background-size:100vmax;
    height:100vh;
}
.timeline ol {
    font-size: 0;
    /* width: 100vw; */
    padding: 40vh 0;
    transition: all 1s;
}
.timeline ol li {
    position: relative;
    display: inline-block;
    /* list-style-type:circle; */
    width: 160px;
    height: 3px;
    background: #fff;
}
  /* .timeline ol li:last-child {
    width: 80px;
  } */
.timeline ol li:not(:first-child) {
    margin-left: 14px;
}
.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #a42c9e;
}
.timeline ol li div {
    position: absolute;
    left: 35px;
    width: 280px;
    padding: 10px;
    font-size: 15px;
    white-space: normal;
    color: white;
    background-color: rgba(63, 58, 58, 0.7);
}
/* .timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
} */
.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
}
  
.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: rgba(63, 58, 58, 0.3) transparent transparent transparent;
}
  
.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
} 
.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent rgba(63, 58, 58, 0.3);
}
.timeline time {
    display: block;
    font-size: 15px;
    font-weight:bolder;
    margin-bottom: 8px;
}
/* .timeline span{
    font-weight:bold;
} */
/*---------------------------------------------------------------------SKILLS---------------- */
.skill{
    margin-top:100px;
    background:url(/pic/butterfly.jpeg);
    /* background-repeat: no-repeat; */
    object-fit: contain;
}
.nav{
    margin-top:15px;
    height:100vh;
}
.nav li{
    text-decoration: none;
    list-style-type:none;
}
.nav span{
    font-size:20px;
    color:white;
}
.nav img{
    width:30%;
}
.nav li a{
    text-decoration: none;
    list-style:none;
    font-size: 18px;
    font:bold;
}
.nav li h4:hover{
    opacity:0.5;
    color:mediumpurple
}
.sub-skill{
    /* display:block !important; */
    position: absolute;
    /* left:0; */
    margin-top: 100px;
    background-color: rgba(59, 31, 71, 0.252);
    /* overflow:hidden; */
    visibility:hidden;
    border-radius: 5px;
    /* height:300px; */
    width:20%;
}
.sub-skill li{
    /* text-align: center; */
    /* margin:0 auto; */
    padding:10px;
    color:white;
    font-size:20px;
    /* height:300px; */

    /* color:black; */
}
.nav ul li:hover .sub-skill{
    visibility:visible;
    opacity:3;
}
/* ----- */
.bg-white{
    background-color: rgba(63, 58, 58, 0.3);
    /* margin-top:50px; */
    margin-top:5px;
}
.bg-white span{
    font-family: 'Poiret One', cursive;
}
.skills{
    text-align: right; /* Right-align text */
    height:33px;
    /* padding-top: 10px; 
    padding-bottom: 10px;  */
    padding:10px;
    margin-bottom:10px;
}
.mkt {
    width: 90%; 
    background-color: #CC704B; 
    /* border-top-right-radius: 30%; border-bottom-right-radius: 30%; */
    /* border-radius: 50%;}  */
}
.official {
    width: 95%; 
    background-color: #78938A;
} /* Blue */
.adobe {
    width: 85%; 
    background-color: #525E75;}
.graphic {
    width: 80%; 
    background-color: #46244C;}
.web {
    width: 85%; 
    background-color: #557B83;
} 
.brand {
    width: 93%; 
    background-color: #F68989;}
.english {
    width: 80%; 
    background-color: #BB9981;
}
.teamwork {
    width: 95%; 
    background-color: #B33030;
}
/*---------------------------------------------------------------------PRODUCTS---------------- */
.product{
    background:url(/pic/mat-trang.jpeg);
    background-repeat:no-repeat;
    background-size: contain;
    height:auto;
    padding:30px 0;
    color:white;
}
.ver-cent{
    padding-top:40px;
}
.pd-box{
    width:300px;
    height:100px;
    background-color: rgba(63, 58, 80, 0.5);
    margin:100px 0;
    border-radius:10px;
    cursor:pointer;
    text-align:center;
}
.pd-box:hover{
    opacity:0.7;
}
.ct-pastra{
    margin: 24px 0 0 150px;
    padding: 0;
}
.ct-pastra p{
    padding-bottom:12px;
}
.ct-pastra ul li{
    padding:5px;
}
.pastra img{
    width:100%;
    border-radius: 30px;
    margin-left:160px;
    margin-top:-100px;
}
.btn{
    padding:3px;
}
.video video{
    width:40%;
    /* height:100vh; */
    /* margin-left:130px; */
    padding:0 10px 300px 0;
    margi
}
.btn{
    padding: 8px 24px;
    text-decoration: none;
    background-color: black;
    color:white;
}
/* ------------------------------------------------------brand.identity */
.gallery{
    width:10%;
}
.ct-calis{
    margin: 24px 0 0 80px;
    padding: 0;
}
.ct-calis p{
    padding-bottom:12px;
}
.ct-calis ul li{
    padding:5px;
}
.calis img{
    width:60%;
    border-radius: 20px;
    margin-left:135px;
}
/* -------------- */
.mt-{
    margin-top:-400px;
    /* margin-right:50px; */
}
.mt-500{
    margin-top:500px;
    margin-right:100px;
}
.ml-30{
    margin-left:-30px;
}
.ml-100{
    margin-left:100px;
}
.ml-200{
    margin-left:200px;
}
.ml-80{
    margin-left:80px;
}
.ml-40{
    margin-left:40px;
}
.m-right{
    margin-right:270px ;
}
.mt-180{
    margin-top:180px;
}
.mg-150{
    margin-bottom: -150px;;
}
.mr-10{
    margin-right:250px;
}
.mt-10{
    margin-top:10px;
}
.mt-20{
    margin-top:-20px;
}   
/* ------------------------------------------------------D.E.S.I.G.N */

.poster{
    width:550px;
    height:auto;
    /* background-color:antiquewhite; */
    margin-left:100px;
  }
.poster img{
    min-width: 60%;
    margin-left:130px;
}
.typo{
    width:550px;
    height:auto;
    /* background-color:yellowgreen; */
}
.typo img{
    min-width: 60%;
    margin-left:100px;
}
.brochure{
    /* min-height:80vh; */
    margin-left:
}
.brochure-pic img{
    /* min-width:10%; */
    float:left;
    width:45%;
    padding: 50px 0;
    margin-left:40px;
}
.brochure-content{
    width:300px;
    height:100px;
    /* background-color:aqua; */
    margin:0 auto;
    font-family: 'Poiret One', cursive;
    margin-bottom:200px;
}
.brochure-content p{
    margin-top:10px;
}
.brochure-content h3{
    border:1px white solid;
}
.calendar img{
    width:80%;
    margin-top:50px;
}
.magazine{
    min-height:100vh;
    margin-top:200px;
}
.magazine img{
    width:40%;
    padding: 50px 20px;
}
/* ------------------------------------------------------web-design*/
.web-design video{
    width:40%;
    margin-bottom:300px;
}
/* ------------------------------------------------------photograph */
.photograph{
    /* margin-top:30px; */
    margin-left:500px;
    /* padding-left:20px; */
}

.row img{
    width:40%;
    padding:15px;
    /* border-radius: 10px; */
}
.row-1{
    margin-top:-100px;
    margin-left:100px;
}
.row-2{
    margin-top:100px;
    margin-right:100px;    
}
.row-2 img{
    width:270px;
    padding-right: 15px;
    margin-bottom:100px;
}
.row-1 img{
    width:270px;
    padding-left: 15px;
}
/*---------------------------------------------------------------------CONTACT---------------- */
.contact{
    /* background-color:yellow; */
    /* margin-top:150px; */
    /* padding: 30px 25px 0 0; */
}
.email{
    padding:0 100px;
}
/* .phone{
    padding:0 50px;
} */
.social p{
    color:#fff;
}
.contact p{
    margin-top:15px;
}
.row h4{
    text-align:center;
}
.social a{
    color:white;
    font-family: 'Raleway Dots', cursive;
}
.social a:hover{
    color:#F68989;
}

/* -------------------------------------------------------------- ANIMATION*/
/* .slide-r{
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-r {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-r {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  } */
.slide-tr {
	-webkit-animation: slide-tr 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
	        animation: slide-tr 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
}
 @-webkit-keyframes slide-tr {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(-100px) translateX(100px);
              transform: translateY(-100px) translateX(100px);
    }
  }
  @keyframes slide-tr {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(-100px) translateX(100px);
              transform: translateY(-100px) translateX(100px);
    }
}
.slide-tl{
	-webkit-animation: slide-tl 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
	        animation: slide-tl 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
}
 @-webkit-keyframes slide-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(-100px) translateX(-100px);
              transform: translateY(-100px) translateX(-100px);
    }
  }
  @keyframes slide-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(-100px) translateX(-100px);
              transform: translateY(-100px) translateX(-100px);
    }
}
.slide-left{
	-webkit-animation: slide-left 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
	        animation: slide-left 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
}
 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
}
.slide-right{
	-webkit-animation: slide-right 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
	        animation: slide-right 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
}
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
}
.slide-bottom{
	-webkit-animation: slide-bottom 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
	        animation: slide-bottom 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
}
 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
}
  
.slide-bl{
	-webkit-animation: slide-bl 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
	        animation: slide-bl 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s 2 alternate both;
}
 @-webkit-keyframes slide-bl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(100px) translateX(-100px);
              transform: translateY(100px) translateX(-100px);
    }
  }
  @keyframes slide-bl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(100px) translateX(-100px);
              transform: translateY(100px) translateX(-100px);
    }
}
  